*{
    box-sizing : border-box;
    margin : 0; 
    padding : 0;
}

@font-face {
    font-family : "jgs";
    src : url("jgs_9x18.ttf");
}

body {
    background-color : #008;
    width : 600vw;
}

.feuille {
    background-color : #ddd;
    width : 420mm;
    height : 297mm;
    margin-top : 18px;
    overflow : hidden;
}

.feuille .page:nth-child(1) {
    border-right : solid 1px;
    padding-top : 36px;
    padding-left : 36px;
}

.feuille .page:nth-child(2) {
    border-right : solid 1px #888;
    padding-top : 36px;
    padding-left : 72px;
}

.page {
    height : 297mm;
    width : 210mm;
    display : inline-block;
    float : left;
}
pre{
    background-color : #ddd;
    font-family : "jgs";
    font-size : 18px;
    line-height : 18px;
}
.couche {
    margin : 0;
    overflow : hidden;
}

.strip {
    background-color : #ffe;
    color : #008;
    display : inline-block;
    border-right : solid 1px;
}

@media print {

    *{
        margin : 0 !important;
        padding : 0 !important;
        border : 0 !important;
    }

    @page {
        size: 420mm 297mm;
        margin : 0;
    }
}

